<h2>Por región</h2>
<div class="row">
  <div class="col text-center">
    <!-- Search box -->
    <button
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary' : selectedRegion === region}"
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
